:root {
    --border-color: #6BD1FF;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.card-wrapper {
    width: 50vw;
}
.card-box {
    height: 366px;
    background-color: var(--border-color);
    border-radius: 8px;
    padding: 2rem;
}

.card-inside {
    background-color: #141414;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #141414;

}

.card-ellipse {
    padding: 1rem 0 0rem 1rem;
}

.card-ellipse img {
    padding: .5rem .5rem 0 0;
}

.preview {
    display: block;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    white-space: pre-wrap;
    max-height: 234px;
    overflow-y: auto;
}

.preview::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.preview:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

