.mp-container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.mp-inputs {
    display: flex;
    flex-direction: column;
}

.input-name {
    height: 2.625rem;
    padding: 0.875rem;
    border: 0 none;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: #fff;
}

.input-name:hover {
    background: rgba(255, 255, 255, 0.24);
}

.input-description {
    height: 4.125rem;
    padding: 0.875rem;
    border: 0 none;
    margin-bottom: 2.5rem;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: #fff;
}

.input-description:hover {
    background: rgba(255, 255, 255, 0.24);
}

.linguagem {
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: 0 none;
    padding: .875rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.64);
    outline: none;
    resize: none;
    overflow: hidden;
}

.linguagem:hover {
    background: rgba(255, 255, 255, 0.24);
}

.border-colors {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 56px;
    background: #6BD1FF;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: .5rem;
    color: #fff;
    outline: none;
}



option {
    background: #2D415B;
}

#azul {
    background-color: #6BD1FF;
}

#verde {
    background-color: #9AFF6B;
}

#amarelo {
    background-color: #fff06b;
}

#laranja {
    background-color: #ff6b6b;
}


.btn-save {
    height: 56px;
    margin-top: 3rem;
    outline: none;
    border: 0 none;
    background: #5081FB;
    color: #051D3B;
    border-radius: 8px;
}

.btn-save:hover {
    background: #7BA4FC;
}