.menu-side {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    height: 100vh;
}

.menu-list {
    position: absolute;
    margin-left: 2rem;
}

.menu-items {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu-link {
    margin-left: 1rem;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

#comunidade {
    opacity: .56;
}

#comunidade:hover {
    opacity: 1;
}

